.scroll-bar {
    white-space: nowrap; /* Prevents wrapping */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scroll-bar::-webkit-scrollbar {
    display: none;  /* WebKit */
}